Change "Time" fields to date-time type

The `receivedTime`, `processCompleteTime`, and `submissionTime` fields are all unvalidated string fields.  I believe JSON schema [supports](https://json-schema.org/understanding-json-schema/reference/string.html#dates-and-times) a `date-time` type, which these should be.  The format (from [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6) is:

```
   The following profile of ISO 8601 [ISO8601] dates SHOULD be used in
   new protocols on the Internet.  This is specified using the syntax
   description notation defined in [ABNF].

   date-fullyear   = 4DIGIT
   date-month      = 2DIGIT  ; 01-12
   date-mday       = 2DIGIT  ; 01-28, 01-29, 01-30, 01-31 based on
                             ; month/year

   time-hour       = 2DIGIT  ; 00-23
   time-minute     = 2DIGIT  ; 00-59
   time-second     = 2DIGIT  ; 00-58, 00-59, 00-60 based on leap second
                             ; rules
   time-secfrac    = "." 1*DIGIT
   time-numoffset  = ("+" / "-") time-hour ":" time-minute
   time-offset     = "Z" OR time-numoffset

   partial-time    = time-hour ":" time-minute ":" time-second
                     [time-secfrac]
   full-date       = date-fullyear "-" date-month "-" date-mday
   full-time       = partial-time time-offset

   date-time       = full-date "T" full-time
```
Personally, I find it handy to just always require that the date-time is formatted with `Z` vs `00:00`, but that would have to be a business logic rule we document probably.

Without this, there isn't a guarantee on format of the time, nor that time zone is known.

This has been fixed in https://github.com/podaac/cloud-notification-message-schema/releases/tag/v1.5 

Thanks!